---
import VeraStory from '../components/vera/VeraStory.astro';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='robots' content='noindex, nofollow' />
    <meta
      name='description'
      content='A scroll-driven 3D storybook birthday flower for Vera.'
    />
    <title>Vera Birthday Story</title>
  </head>
  <body>
    <VeraStory />
  </body>
</html>
